

.payment{
 background-color: white;
}

.payment_container > h3 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
    box-shadow: 2px 2px 15px black;
}

.payment_container > h3 a {
    text-decoration: none;
}

.payment_section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment_title {
    flex: 0.3;
}

.payment_address,.payments_items {
    flex: 0.7;
}


